<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

<jsp-config>
	<jsp-property-group>
		
		<url-pattern>/home.jsp</url-pattern>
		<url-pattern>/user/*</url-pattern>
		<url-pattern>/order/*</url-pattern>
		<url-pattern>/branch/*</url-pattern>
		<url-pattern>/event/*</url-pattern>
		<url-pattern>/manager/*</url-pattern>
		<url-pattern>/pizza/*</url-pattern>
		<url-pattern>/etc/*</url-pattern>
		<url-pattern>/side/*</url-pattern>
		<include-prelude>/common/session.jsp</include-prelude>
	</jsp-property-group>
</jsp-config>
</web-app>
